<a href="https://colab.research.google.com/github/josephhalejr/Sales/blob/main/missingdatajosephhale40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
('/content/RailsToTrails_National Count Data_week (7) (2) (1).xlsx')

'/content/RailsToTrails_National Count Data_week (7) (2) (1).xlsx'

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
bike_df = ('/content/RailsToTrails_National Count Data_week (7) (2) (1).xlsx')

In [ ]:
df = pd.read_excel(bike_df)

In [ ]:
df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

# delete unnamed columns Unnamed: 7 Unammed: 8 Unnamed 9

In [ ]:
del df['Unnamed: 7']

In [ ]:
del df['Unnamed: 8']

In [ ]:
del df['Unnamed: 9']

In [ ]:
df.head()

  Timeframe    Week of  ...  Change 2019-2020  Unnamed: 6
0    Week 1 2020-12-30  ...          0.094627    1.094627
1    Week 2 2020-01-06  ...          0.179743  117.974253
2    Week 3 2020-01-13  ...          0.216112  121.611169
3    Week 4 2020-01-20  ...          0.105645  110.564504
4    Week 5 2020-01-27  ...          0.249166  124.916602

[5 rows x 7 columns]

# renaming the unnamed column 6 to percent_change

In [ ]:
df = df.rename(columns={'Unnamed: 6': 'percent_change'})
df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

# fill in the missing data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     int64
 3    2020 counts (31 counters)  52 non-null     int64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   percent_change              52 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 3.0+ KB

In [80]:
df.fillna(0)

   Timeframe    Week of  ...  Change 2019-2020  percent_change
0     Week 1 2020-12-30  ...          0.094627        1.094627
1     Week 2 2020-01-06  ...          0.179743      117.974253
2     Week 3 2020-01-13  ...          0.216112      121.611169
3     Week 4 2020-01-20  ...          0.105645      110.564504
4     Week 5 2020-01-27  ...          0.249166      124.916602
5     Week 6 2020-02-03  ...          0.924731      192.473051
6     Week 7 2020-02-10  ...          0.983068      198.306761
7     Week 8 2020-02-17  ...          1.156737      215.673747
8     Week 9 2020-02-24  ...          0.648422      164.842218
9    Week 10 2020-03-02  ...          0.982298      198.229837
10   Week 11 2020-03-09  ...          0.946220      194.621973
11   Week 12 2020-03-16  ...          1.932039      293.203922
12   Week 13 2020-03-23  ...          1.730000      273.441649
13   Week 14 2020-03-30  ...          1.360000      236.334860
14   Week 15 2020-04-06  ...          2.170000      317.466088
15   Week 16 2020-04-13  ...          0.810000      181.447770
16   Week 17 2020-04-20  ...          0.390000      139.454810
17   Week 18 2020-04-27  ...          0.660000      166.499555
18   Week 19 2020-05-04  ...          0.430000      142.683091
19   Week 20 2020-05-11  ...          0.580000      157.587910
20   Week 21 2020-05-18  ...          0.330000      133.403373
21   Week 22 2020-05-25  ...          0.250000      124.556458
22   Week 23 2020-06-01  ...          0.320000      131.895165
23   Week 24 2020-06-08  ...          0.380000      138.004182
24   Week 25 2020-06-15  ...          0.260000      125.765725
25   Week 26 2020-06-22  ...          0.270000      126.757885
26   Week 27 2020-06-29  ...          0.280000      127.959254
27   Week 28 2020-07-06  ...          0.320000      131.861502
28   Week 29 2020-07-13  ...          0.510000      150.844244
29   Week 30 2020-07-20  ...          0.070000      107.158695
30   Week 31 2020-07-27  ...          0.210000      121.150732
31   Week 32 2020-08-03  ...          0.330000      132.790897
32   Week 33 2020-08-10  ...          0.150000      114.535910
33   Week 34 2020-08-17  ...          0.430000      142.815578
34   Week 35 2020-08-24  ...          0.550000      154.948931
35   Week 36 2020-08-31  ...          0.230000      123.328247
36   Week 37 2020-09-07  ...          0.320000      131.983857
37   Week 38 2020-09-14  ...          0.360000      135.923476
38   Week 39 2020-09-21  ...          0.470000      147.384314
39   Week 40 2020-09-28  ...          0.370000      136.887424
40   Week 41 2020-10-05  ...          0.380000      138.328330
41   Week 42 2020-10-12  ...          0.440000      143.703075
42   Week 43 2020-10-19  ...          0.280000      127.665875
43   Week 44 2020-10-26  ...          0.350000      134.711963
44   Week 45 2020-11-02  ...          0.410000      140.755790
45   Week 46 2020-11-09  ...          0.790000      179.449231
46   Week 47 2020-11-16  ...          0.110000      111.022219
47   Week 48 2020-11-23  ...          0.400000      139.591047
48   Week 49 2020-11-30  ...          0.030000      102.750669
49   Week 50 2020-12-07  ...          0.350000      134.758060
50   Week 51 2020-12-14  ...          0.260000      126.049291
51   Week 52 2020-12-21  ...         -0.030000       97.318125

[52 rows x 7 columns]